---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Cross Platform" id="compatibility">
  <Fragment slot="lead">
    LMFAO.tech ships as a <span class="text-primary">Progressive Web App</span>. Works on the web, but with
    <span class="text-primary">IOS and android</span>
    native-like <span class="text-primary">mobile apps</span>.
  </Fragment>

  Just click on "Share" button and then "Add to Home Screen" to install the app.

  <a class="border-2 px-2 py-3 rounded-md w-52 flex justify-center items-center" href="https://lmfao.tech/dash">
    Web app
  </a>

  <a class="border-2 px-2 py-3 rounded-md w-52 flex justify-center items-center"   href="https://twitter.com/lmfao_tech">
  Twitter Bot</a>

  <button class="border-2 px-2 py-3 rounded-md">
    On the play store (soon)
  </button>
</ContentSection>