---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Earn rewards",
    description:
      "LMFAO.tech is built on a points system. You can earn points by liking others' posts, or posting your own. You can also use the twitter bot to earn points by submitting memes.",
    icon: "mdi:handshake",
  },
  {
    title: "Meme maker",
    description:
      "LMFAO.tech comes with a fully-featured meme maker. You can create memes using predefined templates, or upload your own.",
    icon: "mdi:feather",
  },
  {
    title: "Get recognized",
    description:
      "Users with highest points gets featured in a leaderboard. Each user also gets their own Meme Profile page to showcase all their memes.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Find the newest and the best",
    description:
      "Thousands of memes are uploaded every second on twitter. LMFAO.tech's algorithm pulls the latest memes from twitter. Memes are also moderated by our moderators.",
    icon: "mdi:graph",
  },
  {
    title: "Twitter bot",
    description:
      "Found a good meme? Reply to it with @LMFAO_tech and we'll add it to our community memes. In return, you get LMFAO coins",
    icon: "mdi:search-web",
  },
  {
    title: "Community",
    description:
      "There's a special tab for community memes - where only the members of LMFAO.tech can publish memes.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    LMFAO.tech is <span class="text-primary">not *just*</span> a content discovery app. It takes
    the best of
    <span class="text-primary text-blue-500">twitter</span> (memes!)
    and adds its own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
    features.map(({ title, description, icon }) => (
    <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
      <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
        <Icon name={icon} />
      </div>
      <p class="text-xl font-extrabold text-center">{title}</p>
      <p class="text-sm text-center text-offset">{description}</p>
    </li>
    ))
    }
  </ul>
</ContentSection>