---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";

const links = [
  {
    url: "https://lmfao.tech/dash",
    description: "LMFAO.tech - Home",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/lmfao-tech",
    description: "LMFAO on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.io/code",
    description: "Chat with us on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/LMFAO_tech",
    description: "LMFAO on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex items-center justify-center h-64">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    This website was made using a template on <a href="https://astro.build/themes/">Astro Themes</a>
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
    links.map((link) => (
    <li>
      <a class="flex items-center justify-center w-16 h-16 p-4 border-2 border-current rounded-full" href={link.url}>
        <span class="sr-only">{link.description}</span>
        <Icon class="h-full" name={link.icon} />
      </a>
    </li>
    ))
    }
  </ul>
</footer>